.navbar {
  display: flex;
  align-items: center;
  padding: 0px 1rem;
  justify-content: space-between;
  background-color: #faf9f6;
}

.navbar-header {
  border-bottom-left-radius: 22px;
}

.navbar-logo h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  color: #1a1a1a;
}

.navbar-logo p {
  color: #1a1a1a;
  margin: 0;
}

.nav-menu a {
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  font-family: "Satoshi";
  font-size: 0.92em;
  font-weight: 500;
  border-radius: 22px;
}

.nav-menu a:hover {
  color: #faf9f6;
  background-color: #011936;
}

.nav-items,
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu {
  font-size: 1.2em;
}
.nav-items {
  gap: 1rem;
}

.btn-call {
  background-color: #6c8f48;
  color: white;
  border-radius: 12px;
  padding: 0.5rem;
  font-family: "Bowlby One", sans-serif;
}
