.pricing-cnt {
  padding: 1rem;
}

.pricing {
  background-color: #c0dfa1;
  color: #1a1a1a;
  border-radius: 22px;
}

.pricing-header {
  color: white;
}

.prices {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
}

.price {
  background-color: white;
  padding: 1rem;
  border-radius: 22px;
  color: #1a1a1a;
}

.price button {
  background-color: #6c8f48;
  color: white;
}

.book-btn {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.book-btn img {
  width: 50px;
  transform: rotate(180deg);
}

.price-2 {
  animation-delay: 0.2s;
}
.price-3 {
  animation-delay: 0.3s;
}
.price-4 {
  animation-delay: 0.4s;
}
@media screen and (max-width: 760px) {
  .prices {
    grid-template-columns: 1fr;
  }
}
