.time-slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
}
.schedule-cnt {
  border-top: 1px solid black;
}
.schedule {
  display: flex;

  justify-content: space-evenly;
}

.open {
  color: #c0dfa1;
}

@keyframes scrollLeft {
  to {
    left: -100%;
  }
}

.wrapper {
  position: relative;
  height: 50px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: #1a1a1a;
  border-bottom: 1px solid #faf9f6;
}

.wrapper div {
  position: absolute;
  left: calc(300px * 6);
  height: 50px;
  width: 300px;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
}

.wrapper h2 {
  margin: 0px;
  color: #faf9f6;
  font-family: "Author";
}

.upcoming-event {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}
.event-date {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}
.event-price {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}
.event-type {
  animation-delay: calc(25s / 6 * (6 - 4) * -1);
}
.event-time {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}
.event-description {
  animation-delay: calc(25s / 6 * (6 - 6) * -1);
}

@keyframes dot-pulse {
  to {
    background-color: #faf9f6;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #1a1a1a;
  animation: dot-pulse 1.5s ease infinite alternate;
}

.dots-explanation {
  padding: 1rem;
  padding-top: 0;
}

.dot-green {
  background-color: #c0dfa1;
  animation: none;
}

.dots-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 760px) {
  .schedule {
    overflow: scroll;
    padding: 1rem;
    gap: 2rem;
  }

  .services-header {
    padding: 0rem;
  }
  .services-header p {
    padding: 0.1rem;
  }
}
